<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headers}}
  </head>
  <body>
   {{>navbar}}
    <!-- header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left -->
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="images/d2.jpg" alt="hh" class="img-fluid" title="nawaz_here">
                    </figure>
                </div>
                <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to fsf</p>
                        <h1>Get the latest <span class="text_h">Weather</span> update</h1>
                        <a href="/weather"><button>check now</button></a>
                </div>
                <!-- right -->
                
            </div>
        </div>
      </div>
    </div>
    <!-- footer -->
    {{>footer}}
  </body>
</html>
